beautifulsoup4
certifi
cffi
chardet
fire
gevent
greenlet
idna
lxml
Pillow
pycparser
requests
six
soupsieve
termcolor
tqdm
urllib3
celery
elasticsearch
elasticsearch-dsl
geoip2
gunicorn
httplib2
kombu
oauth
redis
reportlab
requests-unixsocket
simplejson