beautifulsoup4
certifi
cffi
chardet
fire
gevent
greenlet
idna
lxml
Pillow
pycparser
requests==2.24.0
six
soupsieve
termcolor
tqdm
urllib3==1.25.2
celery
elasticsearch
elasticsearch-dsl
geoip2
gunicorn
httplib2
kombu
oauth
redis
reportlab
requests-unixsocket
simplejson
